{% extends "AppCoder/padre.html" %}

{% block titulo %}
aca puedes buscar los profesores (buscalo por email)
{% endblock %}

{% block form %}

<h2>
    <form action='{% url "resultado profesor" %}' method="GET" >
        
        <div style="text-align: center;">
        <p style="color:white"></p> 
        <input type="email" name="email">
        <input type="submit" value="Buscar">
        </div>
    </form>
    {% if request.user.is_authenticated %}
    <a class="navbar-brand" href="{% url 'crear profesor' %}">Crear Profesor</a>
{% endif %}
    </h2>
{% endblock %}