{% extends "AppCoder/padre.html" %}

{% block titulo %}
Aca puedes buscar tu curso por nro. de comision (buscalo por comisión)
{% endblock %}

{% block form %}

<h2>
<form action='{% url "resultado busqueda" %}' method="GET" >
    
    <div style="text-align: center;">
    <input type="number" name="comision">
    <input type="submit" value="Buscar">
    </div>

</form>
{% if request.user.is_authenticated %}
<a class="navbar-brand" href="{% url 'crear curso' %}">Crear Curso</a>
{% endif %}
</h2>
{% endblock %}